*.py[cod]
*.class
*.class.status
*.egg-info
*.eggs
.ipynb_checkpoints

build
dist
.cache
__pycache__

htmlcov
.coverage
coverage.xml
.pytest_cache
.tox

docs/_build
docs/diagram
out/*

# ide
.idea
.eclipse
.vscode

# Mac
.DS_Store

# virtual environments
env
env3
venv
venv3

#test file
test_code/test_python.py
test_code/test_meshio
tests/dev_tests/*

# documentation examples
edg_acoustics/example_google.py

# matlab data files
*.mat
# !examples/*.mat
!examples/scenario1/*.mat
!examples/car_cabin_acoustics_transient_63_cleared/*.mat
!tests/golden_files/test_scenario1/*.mat

# test mesh files
data/tests/mesh/*

*.nsys-rep
*.sqlite
*.png
!examples/dgfem_acoustic_2d/porous_absorber_time_domain/boundary_comparison_all_time.png
!examples/dgfem_acoustic_2d/porous_absorber_time_domain/boundary_error_after_8ms.png
!examples/car_cabin_acoustics_transient_63_cleared/*.png
*.pos
